button {
    margin: 0;
    padding: 0;
}

.point-content-area {
    font-size: 22px;
    word-break: keep-all;
    clear: both;
    content: '';
}

.point-title {
    color: red;
}

.point-percent {
    color: #e27398;
    margin-right: 5px;
}

.icon-question:hover {
    cursor: pointer;
}

.icon-popup {
    font-size: 15px;
    display: block;
    position: absolute;
    left: 0;
    top: 23px;
    width: 190px;
    padding: 11px;
    border-radius: 10px;
    word-break: keep-all;
    background-color: rgba(48, 53, 55, .95);
    font-size: 12px;
    color: #b8bfc4;
    z-index: 100;
}

.icon-popup-tri {
    content: '';
    clear: both;
    position: absolute;
    top: 18px;
    left: calc(100% - 7.5px);
    width: 0;
    height: 0;
    margin-left: -4px;
    border-bottom: 5px solid rgba(48, 53, 55, .95);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.secition-content {
    box-sizing: border-box;
    border: 5px;
    padding: 6px;
    border: 1px solid #f5f7f7;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 236, 236);
}

.section-content-title {
    font-size: 15px;
    position: relative;
    float: left;
}

.section-content-update {
    font-size: 11px;
    float: right;
}

.secition-content-title-area {
    margin-bottom: 30px;
}

.sub-content-title-area {
    margin-top: 10px;
    position: relative;
    top: 10px;
    clear: both;
}

.sub-content-title {
    font-size: 14px;
}

.list-distance {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #f9fafb;
    z-index: 1;
    list-style: none;
    padding: 0 !important;
}

.list-distance li {
    float: left;
    width: 25%;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
    list-style: none;
}
.namelist-inside{
    position: relative;
    width: 486px;
    height: 195px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.namelist-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: calc(100%/4);
    border: 0;
    border: solid 0.5px  #e9e3e3;;
    height: 15px;
    margin: 0 0 10px;
    padding: 15px;
    /* text-align: center; */
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px; 
}
.namelist-bt{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(185, 127, 73);
    width: calc(100%/4);
    height: 31px;
    border-radius: 3px;    
    padding: 0px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.namelist-bt:hover,.namelist-bt:active,.namelist-bt:focus {
    background: rgb(173, 125, 80);
}
.namelist {
    padding-left: 0px !important;
}
.namelist li:nth-child(2n-1){
    border-radius: 3px;
    font-size: large;
}
.namelist li:nth-child(2n){
    border-radius: 3px;
    margin-bottom: 10px;
}
.slidecontainer-text{
    top: -3px !important;
    left: 14px;
    margin-bottom: 0px !important;
}
.list-distance-items{
    width: 100%;
    border-radius: 3px;
}