$color1: rgb(232, 113, 91);
$color2: rgb(15, 66, 95);

#bz-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fafafa;

  > div {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-bottom: 150px;
  }

  .bz-aboutTitle {
    position: absolute;
    top: 80px;
    font-size: 4em;
    font-weight: bold;
    color: $color2;
  }

  .bz-imgBox {
    position: absolute;
    width: 600px;
    height: 100%;

    img {
      position: relative;
    }
  }

  .bz-aboutText {
    position: absolute;
    width: 600px;
    font-size: 1.5em;
    top: 300px; 
    text-align: justify;
    padding: 0 70px;
    font-weight: bold;
  }

  .bz-aboutText.before-enter {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.5s ease-in-out;
    transition-delay: 0.5s;
  }
  
  .bz-aboutText.enter {
    opacity: 1;
    transform: translateX(0px);
  }

  #bz-about1 {
    position: relative;

    .bz-imgBox {
      right: 0;
    }

    .bz-imgBox.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-imgBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .bz-aboutTitle {
      left: 100px;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    .bz-aboutTitle.before-enter {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-aboutTitle.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .colorBox {
      position: absolute;
      right: -400px;
      width: 400px;
      height: 600px;
      background-color: $color1;
    }

    .colorBox.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
    }
    
    .colorBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  #bz-about2 {
    position: relative;
    background-color: rgb(230, 230, 230);

    .bz-imgBox.before-enter {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-imgBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .bz-aboutTitle {
      right: 100px;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.2);

      span {
        color: rgb(165, 165, 165);
      }
    }

    .bz-aboutTitle.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-aboutTitle.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .bz-aboutText {
      right: 0;
    }

    .bz-aboutText.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
      transition-delay: 0.2s;
    }
    
    .bz-aboutText.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .colorBox {
      position: absolute;
      left: -400px;
      width: 400px;
      height: 600px;
      background-color: $color1;
    }

    .colorBox.before-enter {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 1.5s ease-in-out;
    }
    
    .colorBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .colorBox2 {
      position: absolute;
      right: -1200px;
      width: 100%;
      height: 600px;
      background-color: rgb(230, 230, 230);
    }
  }

  #bz-about3 {
    position: relative;
    margin-bottom: 100px;

    .bz-imgBox {
      right: 0;
    }

    .bz-imgBox.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-imgBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .bz-aboutTitle {
      left: 100px;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    .bz-aboutTitle.before-enter {
      opacity: 0;
      transform: translateX(-100px);
      transition: all 1.5s ease-in-out;
    }
    
    .bz-aboutTitle.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .colorBox {
      position: absolute;
      right: -400px;
      width: 400px;
      height: 600px;
      background-color: $color1;
    }

    .colorBox.before-enter {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1.5s ease-in-out;
    }
    
    .colorBox.enter {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* 이미지 리사이즈 */
  @media only screen and (max-width: 1199px) {
    > div {
      width: 800px;
    }

    .bz-imgBox {
      display: none;
    }

    #bz-about2 {
      .bz-aboutTitle {
        span {
          color: $color2;
        }
      }

      .colorBox2 {
        right: -800px;
      }
    }
  }

  /* 태블릿 */
  @media only screen and (max-width: 991px) {
    > div {
      width: 80%;
      height: 400px;
      top: 50px;
      margin-bottom: 50px;
    }

    .bz-aboutTitle {
      top: 50px;
      left: 10px;
      font-size: 3.5em;
    }
    
    .bz-aboutText {
      top: 220px;
      width: 100%;
      font-size: 1.5em;
    }

    #bz-about1 {
      .bz-aboutTitle {
        left: 0;
        width: 100%;
        text-align: center;
      }
    }

    #bz-about2 {
      background-color: rgb(0,0,0,0);

      .bz-aboutTitle {
        left: 0;
        width: 100%;
        text-align: center;
      }

      .colorBox2 {
        display: none;
      }
    }

    #bz-about3 {
      .bz-aboutTitle {
        left: 0;
        width: 100%;
        text-align: center;
      }
    }

    .colorBox {
      display: none;
    }

    .colorBox2 {
      display: none;
    }
  }

  /* 스마트폰 */
  @media only screen  and (max-width: 767px) {
    > div {
      width: 95%;
    }

    .bz-aboutTitle {
      font-size: 2.5em;
    }

    .bz-aboutText {
      top: 180px;
      font-size: 1.5em;
      padding: 0 30px;
    }
  }

  /* 410px */
  @media only screen and (max-width: 410px) {
    > div {
      height: 300px;
      margin: auto;
      margin-bottom: 10px;
    }
    
    .bz-aboutTitle {
      font-size: 1.75em;
    }

    .bz-aboutText {
      top: 120px;
      font-size: 1.2em;
      padding: 0 10px;
    }
  }

}
