* {
  box-sizing: border-box;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  transition: opacity 0.3s ease;
}

.modal-container {
  width: 600px;
  height: 755px;
  /* margin: 60px auto 0; */
  margin-left: 1065px;
  margin-top: 75px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.432);
  transition: all 0.3s ease;
  border-radius: 3px;
  overflow: auto;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  min-height: calc(50vh - 30px)
}

.modal-footer {
  height: 30px;
}

.text-right {
  text-align: right;
}

.form-label {
  display: block;
  margin-bottom: 1em;
}

.form-label>.form-control {
  margin-top: 0.5em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  line-height: 1.5;
  border: 1px solid #ddd;
}

.modal-enter,
.modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-default-button {
  margin: 0px auto;
  text-align: center;
}

.close-button {
  float: right;
  position: relative;
  top: 0px;
  right: 0px;
}