#app {
    text-align: center;
    color: #ffffff;
}

/* Only for routerview container */
.container.view {
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: stretch;
    flex-direction: column;
}

/* Set Background CSS */
div.v-application--wrap {
    /* background-color: cornflowerblue; */
    background-image: url("../../assets/garocity.jpg");
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    padding-top: 56px;
}

div.v-input__control {
    color: #455054;
}

.container {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-item-1 {
    flex: 1;
}

p {
    color: #ffff;
    font-size: larger;
}

.m-8px {
    margin: 8px
}

@media (min-width:700px) {
    .container {
        display: -webkit-flex;
        display: flex;
    }
}