div.hello h3 {
    font-weight: bold;
}

ul li {
    float: left;
}

ul li a {
    color: #594F4F;
    justify-content: center;
    
}

div.v-list.v-sheet.v-sheet--title-theme--light {
    background-color: #E5FCC2;
    
}

div.v-list-item.v-list-item--link.theme--light {
    color: #745ebd;
    
}


a.link1.v-tab--active.v-tab {
    color: #594F4F;
    background-color: #E5FCC2;
}

