#bz-loading-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  #bz-blur-background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.542);
  }

  .lds {
    z-index: 2;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(0);
  }

  .lds div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: rgb(232,113,91);
    animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }

  .lds div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }

  .lds div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
}
