$color1: rgb(232, 113, 91);
$color2: rgb(15, 66, 95);

.tabcontainer {
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px;
    border-radius: 3px 3px 0px 0px;
    clear: both;
    margin: 0;

    /* Style the buttons that are used to open the tab content */
    button {
      background-color: #f1f1f1;
      float: left;
      border: 1px solid #ccc;
      outline: none;
      cursor: pointer;
      padding: 5px;
      transition: 0.3s;
      width: 80px;
      margin: 0;

      /* Change background color of buttons on hover */
      &:hover {
        background-color: #ddd;
      }
    
      /* Create an active/current tablink class */
      &:active {
        background-color: #ccc;
      }
    }
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

    p {
      display: block;
    }
  }

  .v-application p {
     margin-bottom: 0px !important;
  }
}
