.biz-news {
    flex: 1;
    align-self: center;
    text-align: center;
}

.biz-container {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.news-container {
    justify-content: center;
    align-items: center;
    flex: 1;
}

h3 {
    font-size: 3em;
}

a {
    display: inline-block;
    padding: 0 50px;
    font-size: 2em;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

/* μ¤λ§νΈν° */
@media only screen  and (max-width: 767px) {
    h3 {
        font-size: 2em;
    }

    a {
        font-size: 1.5em;
        padding: 0 20px;
    }
}