.biz-news {
    flex: 1;
    align-self: center;
    text-align: center;
}

.biz-container {
    text-align: center;
}

.news-container {
    justify-content: center;
    align-items: center;
    flex: 1;
}

h3 {
    font-size: 3vw;
}

a {
    font-size: 2.5vw;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}