form input {
    height: 49px;
}

form {
    padding: 39px;
    margin: auto;
    width: 300px;
    background-color: yellow;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

p {
    display: none;
    font-size: 12px;
    margin: 0;
    transform: translateY(-10px);
    color: #666;
}

input:focus+p {
    display: block;
}

input[type='submit'] {
    border: none;
    background-color: #8bc34a;
    color: #fff;
    display: none;
}

input[type='submit']:disabled {
    background-color: #cbdadb;
    display: block;
    opacity: 0.9;
}

input:valid~input:valid~input:valid~input[type='submit']:disabled {
    display: none;
}

input:valid~input:valid~input:valid~input[type='submit']:not(:disabled) {
    display: block;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 3px;
    border: none;
    background-color: #8bc34a;
    color: #fff;
}