.container.searchbox {
    background-color: #041b2d;
    border-radius: 20px;
    color: #ffff;
    height: 60%;
    opacity: 0.9;
    flex-direction: column;
    letter-spacing: 0.08em;
}

div.container.searchbox h1 {
    font-size: 1.5rem;
    color: #ccc;
}

div.container.searchbox h1 strong {
    color: #ffffff;
}
