.main-content {
  position: relative;
  width: 100%;
  letter-spacing: 3px;

  div {
    position: relative;
  }

  > div {
    margin-bottom: 10px;
  }

  .bz-each-title {
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 15px;
  }

  #title {
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  $color1: rgb(232, 113, 91);
  $color2: rgb(15, 66, 95);
  
  .Content {
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: $color2;
    border-radius: 5px;
    color: $color1;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
  
    .strong {
      color: rgb(223, 223, 223);
    }
  
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  #bz-score-box {
    font-weight: bold;
    background-color:rgb(15, 66, 95);
    // padding: 5px 10px;
    border-radius: 5px;
    color: $color1;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    #bz-score-box-pretext {
      display: inline-block;
      font-size: 1.25em;
      left: 10px;
      top: 5px;
    }
    
    #bz-score-box-score {
      text-align: center;
      color: #32fa53;
      font-size: 3em;
      top: 5px;
    }

    #bz-score-box-posttext {
      font-size: 1.25em;
      text-align: right;
      bottom: 5px;
      right: 10px;
    }
  }
  
  #chart-box {

    #chart-box-flex-container {
      display: flex;
      justify-content: space-around;

      .select-box-wrapper {
        display: inline-block;
        width: 180px;
        margin: 10px 20px;
        
        p {
          text-align: center;
          margin: 5px 0;
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }
}
