.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  display: inline-block;
}

/* 데스크탑 */
.bz-col-lg-1 {width: 8.33%;}
.bz-col-lg-2 {width: 16.66%;}
.bz-col-lg-3 {width: 25%;}
.bz-col-lg-4 {width: 33.33%;}
.bz-col-lg-5 {width: 41.66%;}
.bz-col-lg-6 {width: 50%;}
.bz-col-lg-7 {width: 58.33%;}
.bz-col-lg-8 {width: 66.66%;}
.bz-col-lg-9 {width: 75%;}
.bz-col-lg-10 {width: 83.33%;}
.bz-col-lg-11 {width: 91.66%;}
.bz-col-lg-12 {width: 100%;}

/* 태블릿 */
@media only screen and (max-width: 991px) {
  .bz-col-md-1 {width: 8.33%;}
  .bz-col-md-2 {width: 16.66%;}
  .bz-col-md-3 {width: 25%;}
  .bz-col-md-4 {width: 33.33%;}
  .bz-col-md-5 {width: 41.66%;}
  .bz-col-md-6 {width: 50%;}
  .bz-col-md-7 {width: 58.33%;}
  .bz-col-md-8 {width: 66.66%;}
  .bz-col-md-9 {width: 75%;}
  .bz-col-md-10 {width: 83.33%;}
  .bz-col-md-11 {width: 91.66%;}
  .bz-col-md-12 {width: 100%;}
}

/* 스마트폰 */
@media only screen and (max-width: 767px) {
  .bz-col-sm-1 {width: 8.33%;}
  .bz-col-sm-2 {width: 16.66%;}
  .bz-col-sm-3 {width: 25%;}
  .bz-col-sm-4 {width: 33.33%;}
  .bz-col-sm-5 {width: 41.66%;}
  .bz-col-sm-6 {width: 50%;}
  .bz-col-sm-7 {width: 58.33%;}
  .bz-col-sm-8 {width: 66.66%;}
  .bz-col-sm-9 {width: 75%;}
  .bz-col-sm-10 {width: 83.33%;}
  .bz-col-sm-11 {width: 91.66%;}
  .bz-col-sm-12 {width: 100%;}
}
