#bz-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 50px 0;
  background-color: rgb(230, 230, 230);

  #bizus-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 10px;
  }

  #row-container{
    position: relative;
    margin: auto;
    width: 80%;

    .eachCard {
      position: relative;
    }
  }

  /* μ¤λ§νΈν° */
  @media only screen  and (max-width: 767px) {
    #bizus-title {
      font-size: 2.5em;
    }

    #row-container {
      width: 100%;
    }
  }
}