.foot-container {
    color: #ffffff;
    background-color: #1f1242;
    justify-content: space-around;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.7);
}

.foot-item {
    margin: 5px
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foot-button {
    width: 80%;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: 10px
}

a.foot-button {
    color: #ffffff;
}

a.foot-button:hover {
    background-color: hotpink;
}

.member-list {
    display: flex;
}

h1.foot-title {
    color: var(--our-orange);
}

.member {
    flex: 1;
    display: flex;
}

.member-name {
    flex: 1;
    align-self: center;
}

.member-role {
    flex: 1;
    font-size: medium;
    align-self: center;
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    .foot-container {
        display: flex;
        color: #ffffff;
        background-color: #1f1242;
        justify-content: space-around;
        padding: 15px;
    }
    .foot-item {
        margin: 15px;
        flex: 1;
    }
}