$color1: rgb(232, 113, 91);
$color2: rgb(15, 66, 95);

#bz-container {
  position: relative;
  background-color: white;
  width: 100%;
  height: 1080px;

  /* Tablet */
  @media screen and (max-width: 992px) {
    & {
      height: 650px;
    }
  }
  
  /* Smart Phone */
  @media screen and (max-width: 600px) {
    & {
      height: 600px;
    }
  }

  div {
    position: absolute;
  }

  #bz-styleBox {
    position: relative;
    background-image: url('../../../assets/home_main_resized.png');
    width: 100%;
    height: 1080px;
  }

  #bz-styleText {
    top: 180px;
    left: 60px;
    color: black;
    font-size: 5em;
    color: $color1;

    animation-name: mainTitle;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;

    @keyframes mainTitle {
      from {
        opacity: 0;
        left: 0;
      }
      to {
        opacity: 1;
        left: 60px;
      }
    }

    /* Tablet */
    @media screen and (max-width: 992px) {
      & {
        font-size: 4em;
        left: 20px;
      }

      @keyframes mainTitle {
        from {
          opacity: 0;
          left: 0;
        }
        to {
          opacity: 1;
          left: 20px;
        }
      }
    }
    
    /* Smart Phone */
    @media screen and (max-width: 600px) {
      & {
        left: 20px;
        top: 100px;
        font-size: 3em;
      }
    }
  }

  #bz-styleTestSub {
    top: 350px;
    left: 120px;
    color: black;
    font-size: 3em;
    color: rgb(255, 255, 255);

    animation-name: mainSub;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;

    @keyframes mainSub {
      0% {
        opacity: 0;
        left: 0;
      }
      100% {
        opacity: 1;
        left: 120px;
      }
    }

     /* Tablet */
     @media screen and (max-width: 992px) {
      & {
        font-size: 2em;
        left: 30px;
      }

      @keyframes mainSub {
        0% {
          opacity: 0;
          left: 0;
        }
        100% {
          opacity: 1;
          left: 30px;
        }
      }
    }
    
    /* Smart Phone */
    @media screen and (max-width: 600px) {
      & {
        font-size: 1.5em;
        left: 30px;
        top: 200px;
      }
    }
  }

  #bz-startBox {
    background-color: rgba(0, 0, 0, 0.6);
    width: 600px;
    height: 200px;
    top: 610px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    color: rgb(223, 223, 223);

    /* Tablet */
    @media screen and (max-width: 992px) {
      & {
        width: 500px;
        top: 400px;
      }
    }
    
    /* Smart Phone */
    @media screen and (max-width: 600px) {
      & {
        width: 400px;
        top: 350px;
      }
    }

    #bz-startBox-text {
      position: relative;
      top: 35px;
      font-size: 28px;
      text-align: center;
      letter-spacing: 5px;
      font-style: italic;
    }

    #bz-startBox-start {
      position: relative;
      margin: auto;
      top: 70px;
      width: 300px;
      height: 50px;
      background-color: #2d81b5a6;
      border-radius: 2px;
      text-align: center;
      line-height: 50px;
      letter-spacing: 10px;
      font-size: 22px;
      font-style: italic;
      transition: 0.2s all ease-in;

      &:hover {
        cursor: pointer;
        background-color: #2d81b5e8;
      }
    }

    animation-name: startBox;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;

    @keyframes startBox {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}