#bz-select-box {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;

  #bz-select-box-selected {
    padding: 8px 16px;
    background-color: rgb(214, 214, 214);
    text-align: center;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  #bz-select-box-list {
    position: relative;
    bottom: -5px;
    display: block;
    height: auto;
    transition: all 0.3s ease;

    ul {
      margin: 0;
      padding: 0;

      li {
        text-align: center;
        padding: 8px 16px;
        transition: all 0.2s ease;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          border-radius: 5px 5px 0 0;
        }
  
        &:last-child {
          border-radius: 0 0 5px 5px;
        }
  
        &:nth-child(2n) {
          background-color: darkkhaki;
          &:hover {
            background-color: rgb(214, 210, 153);
          }
        }
  
        &:nth-child(2n+1) {
          background-color: darkorchid;
          &:hover {
            background-color: rgb(180, 88, 226);
          }
        }
      }
    }

    &.before-animation {
      transform: translateY(20px);
      opacity: 0;
    }

    &.animation {
      transform: translateY(0px);
      opacity: 1;
    }
  }

}