<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
  <typeAliases> <!-- mapper에서 참조할 bean의 예명 등록 -->
  	<!-- <typeAlias type="com.ssafy.vo.Food" alias="food"/> -->
  	<typeAlias type="com.bizbox.vo.PopulationByTime"  alias="pobt"/>
  	<typeAlias type="com.bizbox.vo.PopulationByLocation"  alias="pobl"/>
  	<typeAlias type="com.bizbox.vo.Changebusiness"  alias="change"/>
  	<typeAlias type="com.bizbox.vo.PopulationByDong"  alias="pobd"/>
  	<typeAlias type="com.bizbox.vo.DongCode"  alias="dc"/>
  	<typeAlias type="com.bizbox.vo.SalesInformation"  alias="sales"/>
  	<typeAlias type="com.bizbox.vo.PopulationBytimeByDongCode"  alias="ptdc"/>
  </typeAliases>
  
  <mappers>
   <!-- <mapper resource="mapper/foodmapper.xml"/> -->
   <mapper resource="mapper/populationByMapper.xml" />
   <mapper resource="mapper/changebusinessMapper.xml" />
   <mapper resource="mapper/salesMapper.xml" />
  </mappers>
</configuration>