<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
  <typeAliases> <!-- mapper에서 참조할 bean의 예명 등록 -->
  	<!-- <typeAlias type="com.ssafy.vo.Food" alias="food"/> -->
  	<typeAlias type="com.bizbox.vo.PopulationByTime"   		    alias="pobt"/>
  </typeAliases>
  
  <mappers>
   <!-- <mapper resource="mapper/foodmapper.xml"/> -->
   <mapper resource="mapper/populationByTimeMapper.xml" />
  </mappers>
</configuration>