<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizbox.mapper.userServiceMapper">
	<insert id="singupUser" parameterType="user">
		insert into user (email, name, pw) values (#{email}, #{name}, #{pw})
	</insert>
	<select id="getPw" parameterType="String" resultType="String">
		select pw from user where email = #{email}
	</select>
	<select id="login" parameterType="user" resultType="user">
		select * from user where email = #{email}
	</select>
</mapper>