select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #ffff;
    font-family: inherit;
}

select::-ms-expand {
    display: none;
}